html, body {
    height: 100%;
    font-family: Helvetica Neue;
}

body {
    margin: 0;
}

svg {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.label_class {
}

circle {
    fill: none;
    stroke: steelblue;
}
.background {
  /* background-color: black; */
  background-color: #414042;
}
.canvas {
  /* padding: 5pt; */
}
.label_svg {
  float:left
}
/* industry circle */
.slidecontainer {
    width: 8%; /* Width of the outside container */
    /* height: 100pt; */
    padding-right: 50pt;
    padding-top: 10pt;
    float:right;
  }

.d3_viz {
    width: 100%; /* Width of the outside container */
    float:left;
  }

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    border-radius: 5px;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 50%;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;

    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  /* transparency_grid */
  .point, .rect {
    fill: wheat;
    /* border-width: 50pt; */
  }
  .rect_empty{
    /* opacity: 100; */
    /* fill:gray; */
    fill: #414042;
  }
  .rect_gap{
    /* opacity: 100; */
    /* fill:gray; */
    stroke-opacity: 0;
    fill: #414042;
  }
  .rect_Manufacturing{
    fill:#939598;
    stroke-opacity: 1;

  }
  .rect_Food_Agriculture{
    fill: bisque;
  }
  .rect_Service{
    fill:#4A777A;
  }
  .rect_Unkown{
    fill: red;
  }
